.nombreNegocio{
    font-size: 28px;
    color: darkblue;
    padding: 5px;
}
.header_basket{
    display: flex;
    align-items: center;
}
.basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.navBar{
    display: flex;
    justify-content: space-evenly;
}
.header{
    background-color: yellow;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
    margin-top: 3px;
    width: 100%;
}

.logo{
    width: 100px;
    margin-top: 18px;
    margin: 0 20px;
    object-fit: contain;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_link{
    text-decoration: none;
}