.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex: column;
    align-items: center;
}

.login_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid grey;
    margin: 20px;
}
.signIn_signUpTitle{
    padding: 10px;
    color: red;
}
.login_signinButton{
    background-color: hotpink;
    border: 1px solid;
    margin-top: 10px;
    height: 30px;
    color: darkblue;
    border-color: darkcyan;
    display: block;
}